body {

    color: #fff;
    padding-top: 30px;
}

h1,h2 {
    text-align: center;
    margin-bottom: 20px;
}


label {
    margin: 10px 0 5px;
    display: block;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    display: block;
}
button {
    background-color: rgb(0, 145, 255);
    border: 0;
    padding: 10px 30px;
    border-radius: 100px;
}

#gameboard-container {
    margin:auto;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.square {
    width: 200px;
    height: 200px;
    margin: 15px;
    text-align: center;
    background-color: #34424c;
    border-radius: 10px;
    box-shadow: 0px 15px 0px 0px #21323b;
    -webkit-box-shadow: 0px 15px 0px 0px #21323b;
    -moz-box-shadow: 0px 15px 0px 0px #21323b;
    
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;

}

.square:active {
    box-shadow: 0px 3px 0px 0px #21323b;
    -webkit-box-shadow: 0px 3px 0px 0px #21323b;
    -moz-box-shadow: 0px 3px 0px 0px #21323b;
    transform: translateY(10px);
  
    
}

.marker {
    width: 150px;
    margin: 10px auto;
}

button {
    width: 200px;
    margin: 40px auto;
    border: 0;
    box-shadow: 0px 10px 0px 0px #21323b;
    -webkit-box-shadow: 0px 10px 0px 0px #21323b;
    -moz-box-shadow: 0px 10px 0px 0px #21323b;
    background-color: #192229;
    
}

button:active {
    box-shadow: 0px 3px 0px 0px #21323b;
    -webkit-box-shadow: 0px 3px 0px 0px #21323b;
    -moz-box-shadow: 0px 3px 0px 0px #21323b;
    position: relative;
    top: 10px;
    
}

.disable {
    pointer-events: none;
}